<app-navbar></app-navbar>
<div class="sm:w-1/2 mx-auto p-10">
  <p
    class="pt-35 text-center align-middle"
    style="font-size: 20pt; font-weight: bold; color: black; line-height: 1.1"
  >
    Score 380-400 in Jamb, PostUtme and Waec
  </p>
  <p class="text-2xl p-4 pt-3 text-center" style="line-height: 1.2">
    Livelesson Academy is an E-learning platform that offers concrete and
    structured programs that helps students evolve and assert themselves,
    specially those preparing for Jamb, PostUtme and Waec. Livelesson Academy is
    a true learning ecosystem dedicated to student’s transformation.
  </p>

  <button
    (click)="goToPlayStore()"
    class="w-full bg-teal-600 text-white py-3 rounded-lg hover:bg-teal-300"
  >
    Download Livelesson Academy App
  </button>
</div>
